@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 14px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-image: url("./assets/images/background.png");
  background-size: cover;
}

@mixin common-white-space {
  content: "";
  display: block;
  position: absolute;
  left: -9px;
  height: 40px;
  width: 16px;
  z-index: 0;
  background-color: white;
}

.white-space-top-content::before {
  @include common-white-space;
  top: 0;
}

.white-space-bottom-content::before {
  @include common-white-space;
  bottom: 0;
}

.carret::before {
  content: url("./assets/icons/carret.svg");
  position: absolute;
  width: 10px;
  height: 10px;
  top: -16px;
  left: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.react-datepicker__header {
  @apply bg-white border-b-0 pt-4;
}

.react-datepicker {
  @apply rounded-md border-purple-light;
}

.react-datepicker__triangle::before {
  @apply border-b-0 #{!important};
}

.react-datepicker__triangle::after {
  @apply border-b-purple-light #{!important};
}

.react-datepicker__month-container {
  @apply p-3;
}

.react-datepicker__day {
  @apply text-base;
}

.react-datepicker__day-name {
  @apply text-base font-bold;
}

.react-datepicker__day-names {
  @apply mt-2;
}
